.formadj{
    margin-top:20px;
    margin-left:500px;
    padding-bottom: 100px;
    
   
}
.bg-sign{
    background-color: rgb(241, 15, 53);
}
.h1adj{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    margin-top: 20px;
}
